body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 500px;
  height: auto;
  background: #fff;
  box-sizing: content-box;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  padding: 8px;
  font-size: large;

}

.content {
  background: #e3f4ff;
  padding: 16px 8px;
  font-size: large;
}

.button-container {
  background: #e3f4ff;
  padding: 8px;
  text-align: center;
  margin-top: 8px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
}